/*css*/
html{overflow:hidden;overflow-y:scroll;width:100%;margin: 0px;height: auto;
	padding: 0px;}
body{
	width:100%;
	height: auto;
	margin: 0px;
	padding: 0px;

}
a{text-decoration:none;}
#header{
	width:100%;
	height:465px;
	margin: 0px auto;
	padding: 0px auto;
	position: relative;
}
#header_top{
	width:100%;
	height:40px;
	margin: 5px auto;
	padding: 0px 150px;
	background: #183581;
}
#language{
 	float: left;
}
#language a{
	line-height: 35px;
	display:block;
	width: 50px;
	float: left;
	color: #fff;
}
#area{
	position: absolute;
	right:20px;
	top: 5px;
	color:#fff;
	line-height: 35px;
}
/*修改的logo
.logo img{float:left;width:515px;height:125px;}*/
#logo_navi{
	width:100%;
	height:125px;
	padding: 0px;
	position: relative;
}
#navi{
	position: absolute;
	width: 750px;
	right:70px;
	top:15px;
	margin-left: 150px;
	
}
#navi a{
	width:90px;
	line-height:50px;
	display:block;
	color:#082257;
	font-size: 18px;
	font-weight: bold;
	margin-left: 5px;
	padding-left: 5px;
	float:left;
}


#navi span{
	border-radius: 5px;
	position: absolute;
	top:10px;
	left: 0px;
	display: block;
	height: 30px;
	width: 85px;
	background: lightblue;
	opacity: 0.5;
	filter:alpha(opacity=50);
	z-index: -1;
}
.logo img{
	width:95px;
	height:78px;
	position: absolute;
	left:75px;
	top:15px;
}
.title{
	position: absolute;
	left:170px;
	top:5px;
	font-size: 28px;
	font-weight: bolder;
	color:#082257;
	letter-spacing: 4px;
}
.title_english{
	position: absolute;
	left:170px;
	top:50px;
	color: #3f6486;
}

/*微信二维码css*/
.weChat{position:absolute;right:10px;cursor: pointer;}
.weChat img{margin:0px;padding:0px;}
.weChat p{margin:0px;padding:0px;color:#082257;font-size: 16px;text-indent: 13px;}

.banner{
	width:100%;
	height:300px; 
	position:relative; 
	overflow:hidden; 
	z-index:0;
}
.banner img{
	width:100%;
	height:300px;
}
.banner_btn{
	width:auto; 
	position: absolute;
	bottom: 10px;
	left:640px;
}
.banner_btn span{
	width:17px; 
	height:17px; 
	display:inline-block; 
	background:#e5ebfa; 
	-webkit-border-radius:50%; 
	-moz-border-radius:50%;
	 border-radius:50%; 
	 cursor:pointer; 
	 margin:0 4px;
}
.banner_btn span.active{background:#183581;}
.banner ul{
	width:100%; 
	height:300px; 
	position:absolute; 
	left:0; 
	top:0;
	padding: 0px;
	margin:0px;
}
.banner ul li{
	width:100%; 
	height:300px; 
	float:left; 
	display:inline; 
	position:relative; 
	overflow:hidden;
}

#foot {
	margin-top: 20px;
	padding-top: 10px;
	width: 100%;
	height: auto;
	background: #0d3351;
	color: #fff;
	clear:both;
}

.i_number {
	font-size: 18px;
	float: left;
	padding-top: 15px;
}

#foot ul{list-style: none;}
#foot ul li a{	color: #fff;}
#foot ul li{
	width:550px;
	line-height:35px;
	text-align: center;
	margin:2px auto;
}